* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7F0909;
    color: white;
    min-height: 100vh;
    font-family: "Josefin Sans", sans-serif; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

div {
    padding: 2rem;
    z-index: 3;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-div{
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-wrap {
    display: flex;
}

img {
    object-fit: cover;
    width: 40%;
    height:auto;
    -o-object-fit: cover;
    padding: 0;
}

button, a {
    border-radius: 10px;
    background: #ECB732;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 25px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    transition: all 0.2 ease-in-out;
    cursor: pointer;
    margin-left: 5px;
    font-family: inherit;
    font-size: 1em;

}

#dodajUlub{
    border-radius: 10px;
    background: #fff;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 25px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    transition: all 0.2 ease-in-out;
    cursor: pointer;
    margin-left: 5px;
    font-family: inherit;
    font-size: 1em;

    
}

#close{
  border-radius: 10px;
  background: #fff;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 25px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  transition: all 0.2 ease-in-out;
  cursor: pointer;
  margin-left: 5px;
  font-family: inherit;
  font-size: 1em;

  
}

#dodajUlub:hover{
    transform: translateY(-2px);
}

#close:hover{
  transform: translateY(-2px);
}

button:hover{
    transform: translateY(-2px);
}

#characters{
    width: 80%;
    align-items: center;
    justify-content: center;
    z-index: 3;
    border: 2px solid #ECB732;
    border-collapse: collapse;
    border-radius: 10px;
    font-size: 20px;
}

th, td, tr {
    border-bottom: 2px solid #ECB732;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}
th, td{
cursor: pointer;
}

tr:hover {
    background-color: black;
}

#modal {
    position: fixed;
    height: 80vh;

    top: 50px;
    left: 20px;

    width: 600px;
    background: #ECB732;
}

.fav-character-card {
    background: #ECB732;
    padding: 2em;
    margin: .5em;
}

#img-modal{
    padding: 0;
    width: 150px;
    
}

.card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    color: #7F0909;
    border: 6px solid #7F0909;

   
}

.card-fav{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    color: #7F0909;
    border: 6px double #7F0909;

}

.data-modal{
display: flex;
flex-direction: column;
padding: 0;
}

.border-blue {
    border: 1px dotted #7F0909;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  background: rgba(0,0,0,0.9);
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  border-radius: 10px;
  background: #ECB732;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 25px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  transition: all 0.2 ease-in-out;
  cursor: pointer;
  margin-left: 5px;
  font-family: inherit;
  font-size: 1em;

 
}

.nav__link:hover {
  transform: translateY(-2px);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}






.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #ECB732;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


#btn-wrap{
display: flex;
flex-direction: row;
justify-content: space-between;
}

h3, h4{
  font-size: 15px;
}


@media screen and (max-width: 1200px) {

  #button-div {
    display: none;
  }

  .nav-toggle {
    display: inline;
  }

  button{
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  
  .nav-link{
    padding: 10px 15px;
  }

  .card-fav{
    display: block;
  }

  .card{
    display: block;
  }

  #dodajUlub{
    padding: 10px 15px;
  }

  #close{
    padding: 10px 15px;
  }

  button{
    padding: 6px 11px;
  }

  .button-div{
    display: flex;
    flex-direction: column;
  }
}